.filter-wrapper {
  position: sticky;
  top: 10px;
  max-width: 272px;
  border-radius: 6px;
  padding-bottom: 12px;
  filter: drop-shadow(0px 0px 3px rgba(190, 190, 192, 0.699));
  background-color: #fff;
}

.filter-headers {
  padding: 24px 16px;
  font-size: 16px;
  font-weight: 700;
}
