.flight-detail-wrapper {
  padding: 32px;
}

.time-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 16px;
}

.time {
  font-size: 40px;
  line-height: 0.75em;
}

.transfer {
  text-align: center;
  width: 100%;
  color: #9da5a7;
}

.airport-wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 6px;
}

.date-wrapper {
  display: flex;
  justify-content: space-between;
  color: #9da5a7;
}
