.logo-wrapper {
  display: flex;
  align-content: center;
}

.logo {
  display: block;
  max-height: 100px;
  margin: 48px auto;
}

.content-wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}
