* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f3f7fa;
  color: #595959;
  font-family: 'Roboto', sans-serif;
}
