:root {
  --primary: #ff6d00;
  --secondary: #2196f3;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: #f3f7fa;
  color: #595959;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

button {
  font-family: 'Roboto', sans-serif;
}
